body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
}

strong {
    font-weight: bold;
}

form {
    margin: 0;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #217dbb;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #FF5733;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

a.gradebook {
    font-weight: normal;
    color: #f9f7f7;
}

a.gradebook:hover {
    color: #080808;
}

.grade{
    color: #e70909;
}