<!DOCTYPE html>
<html>
<head>
    <title>Silicon Sages</title>
    <link rel="stylesheet" type="text/css" href="/static/view_quizzes.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <script src="/static/functions.js"></script>
</head>

<div class="background"></div>

<body>
    <h1>GradeBook</h1>
    <a href="/create_quiz">Create a Quiz</a>

    <h2>This is for created quizzes </h2>
    <ul>
        {% for quiz in quizzes %}
        <li>
            <strong>Question: </strong>{{ quiz.question }}<br>
            <strong>Options: </strong><br>
            {% if quiz.image %}
                <strong>Quiz Image</strong>
                <img src="{{ url_for('sendimage', filename=quiz._id|string + '.jpg') }}" alt="Image" class="quiz-image">
            {% endif %}
            <ul>
                <li>{{ quiz.option1 }}</li>
                <li>{{ quiz.option2 }}</li>
                <li>{{ quiz.option3 }}</li>
                <li>{{ quiz.option4 }}</li>
            </ul>
            <strong>Correct Answer: </strong>{{ quiz.correct_answer }}<br>
            <strong class='grade'>Correct / Total: </strong>{{ quiz.correct_times }} / {{ quiz.answer_times }}
        </li>
        <br>
        {% endfor %}
    </ul>
<h2>This is for taken quizzes </h2>  
    <ul>
        {% for quiz in takenQuizzes %}
        <li>
            <strong>Question: </strong>{{ quiz.question }}<br>
            <strong>Options: </strong><br>
            {% if quiz.image %}
                <strong>Quiz Image</strong>
                <img src="{{ url_for('sendimage', filename=quiz._id|string + '.jpg') }}" alt="Image" class="quiz-image">
            {% endif %}
            <ul>
                <li>{{ quiz.option1 }}</li>
                <li>{{ quiz.option2 }}</li>
                <li>{{ quiz.option3 }}</li>
                <li>{{ quiz.option4 }}</li>
            </ul>
            <strong>Correct Answer: </strong>{{ quiz.correct_answer }}<br>
            <strong class='grade'>UserScore / Total: </strong>{{ quiz.scored}} / {{ 1 }}
        </li>
        <br>
        {% endfor %}
    </ul>
</body>
</html>
