<html>
<head>
    <title>Project 1 Part 1</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>

</head>
<body onload="welcome();">

<h1>This is my Project 1 Part 1 Home Page</h1>

<p id="paragraph">
    This text is from the HTML file 🙂
</p>

{% if session.logged_in %}
    <h3>hello {{username}}!</h3>
{% endif %}

<img src="/static/about-us.jpg" alt="Look at all the water" class="my_image"/>

<div class="form-container">

    <!-- Registration Form -->
    <div class="form-section">
        <h2>Register</h2>
        <form action="/register" method="post">
            <div>
                <label for="reg_username">Username:</label>
                <input type="text" id="reg_username" name="reg_username" required>
            </div>
            <div>
                <label for="reg_password">Password:</label>
                <input type="password" id="reg_password" name="reg_password" required>
            </div>
            <div>
                <input type="submit" name="submit-button" value="register">
            </div>
        </form>
    </div>

    <!-- Login Form -->
    <div class="form-section">
        <h2>Login</h2>
        <form action="/login" method="post">
            <div>
                <label for="log_username">Username:</label>
                <input type="text" id="log_username" name="log_username" required>
            </div>
            <div>
                <label for="log_password">Password:</label>
                <input type="password" id="log_password" name="log_password" required>
            </div>
            <div>
                <input type="submit" name="submit-button" value="login">
            </div>
        </form>
    </div>

        <!-- Add Post -->
    <div class="form-section">
        <h2>Create Post</h2>
        <form action="/add_post" method="post">
            <div>
                <label for="post_title">Title:</label>
                <input type="text" id="post_title" name="post_title" required>
            </div>
            <div>
                <label for="post_description">Description:</label>
                <textarea rows="4" cols="50" id="post_description" name="post_description" required></textarea>
            </div>
            <div>
                <input type="submit" name="submit-button" value="Create Post">
            </div>
        </form>
    </div>
</div>

        <!-- Display User Posts -->
    <div class="posts-section">
        <h3>Posts RIGHT HERE!</h3>
        {% for post in posts %}
            <div class="post">
                <h3>{{ post.title }}</h3>
                <p>{{ post.description }}</p>
                <small>Posted by: {{ post.username }}</small>
            </div>
        {% endfor %}
    </div>

<script src="/static/functions.js"></script>
</body>
</html>