<html>
<head>
    <title>Silicon Sages</title>
    <link rel="stylesheet" type="text/css" href="index.css"/>
    
</head>

<body>
<div class="form-container">
    <!-- Registration Form -->
    <div class="form-section">
        <h2>Register</h2>
        <form action="/register" method="post">
            <div>
                <label for="reg_username">Username:</label>
                <input type="text" id="reg_username" name="reg_username" required>
            </div>
            <div>
                <label for="reg_password">Password:</label>
                <input type="password" id="reg_password" name="reg_password" required>
            </div>
            <div>
                <input type="submit" name="submit-button" value="Register">
            </div>
            <div id = "link">
                <p>Already Registered? <a href="/login.html">Login</a></p>
            </div>
        </form>
    </div>

    <!-- Login Form -->
    <!-- <div class="form-section">
        <h2>Login</h2>
        <form action="/login" method="post">
            <div>
                <label for="log_username">Username:</label>
                <input type="text" id="log_username" name="log_username" required>
            </div>
            <div>
                <label for="log_password">Password:</label>
                <input type="password" id="log_password" name="log_password" required>
            </div>
            <div>
                <input type="submit" name="submit-button" value="login">
            </div>
        </form>
    </div> -->

</div> 
</body>
</html>