<html>
<head>
    <title>Silicon Sages</title>
    <link rel="stylesheet" type="text/css" href="index.css"/>
    
</head>

<div class="background"></div>

<body>
<div class="form-container">
    <div class="form-section">
        <h2>Login</h2>
        <form action="/login" method="post">
            <div>
                <label for="log_username">Username:</label>
                <input type="text" id="log_username" name="log_username" required>
            </div>
            <div>
                <label for="log_password">Password:</label>
                <input type="password" id="log_password" name="log_password" required>
            </div>
            <div>
                <input type="submit" name="submit-button" value="Login" class="button">
            </div>
            <div id = "link">
                <p>Don't have an account? <a href="/">Register</a></p>
            </div>
            <div id = "guest">
                <a href="/posts.html" onclick="guestMode();">Sign in as Guest</a>
            </div>
        </form>
    </div>

</div> 

<script src="/static/functions.js"></script>
</body>
</html>